@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --backFiller: #ffffff;
    --backBase: #e7e7e7;
    --backElevatedBase: #d7d7d7;
    --backHighlight: #dddddd;
    --textBase: #000000;
    --textSubdued: #3f3f3f;
    --headerBackgroundGradient: #535353;

    /*Colors that don't change*/
    --accentColor: #9035ff;
    --accentColorSubdued: #831dff;
    --errorColor: #f15e6c;
    --errorColorEssential: #de1327;
    --backgroundTintedBase: hsla(0, 0%, 100%, 0.1);
    --backgroundTintedHighlighted: hsla(0, 0%, 100%, 0.14);
  }

  /*  --accentColor: #9e4fff;
    --accentColorSubdued: #831dff;*/
  @media (prefers-color-scheme: dark) {
    :root {
      --backFiller: #000000;
      --backBase: #121212;
      --backElevatedBase: #1f1f1f;
      --backHighlight: #1f1f1f;
      --textBase: #ffffff;
      --textSubdued: #b3b3b3;

      --headerColorForAnimation: #101010;
    }
  }
}

html {
  background-color: var(--backBase);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
input:focus {
  color: var(--textBase);
  font-family: "Hanken Grotesk";
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: var(--textBase);
  border-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: transparent;
  background: var(--textBase);
}
input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: transparent;
  background: var(--textBase);
}

.underHeaderGradient {
  transition:
    background-color 0.9s,
    opacity 0.4s ease-out;
}
