@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --backFiller: #ffffff;
    --backBase: #f3f3f3;
    --backElevatedBase: #dddddd;
    --backHighlight: #dddddd;
    --textBase: #000000;
    --textSubdued: #3f3f3f;
    --accentColor: #9e4fff;
    --accentColorSubdued: #7606ff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --backFiller: #000000;
      --backBase: #121212;
      --backElevatedBase: #1f1f1f;
      --backHighlight: #1f1f1f;
      --textBase: #ffffff;
      --textSubdued: #b3b3b3;
      --accentColor: #9e4fff;
      --accentColorSubdued: #7606ff;
    }
  }
}

:root[data-theme="light"] {
  --backFiller: #ffffff;
  --backBase: #f3f3f3;
  --backElevatedBase: #dddddd;
  --backHighlight: #dddddd;
  --textBase: #000000;
  --textSubdued: #3f3f3f;
  --accentColor: #9e4fff;
  --accentColorSubdued: #7606ff;
}

:root[data-theme="dark"] {
  --backFiller: #000000;
  --backBase: #121212;
  --backElevatedBase: #1f1f1f;
  --backHighlight: #1f1f1f;
  --textBase: #ffffff;
  --textSubdued: #b3b3b3;
  --accentColor: #9e4fff;
  --accentColorSubdued: #7606ff;
}

html {
  background-color: var(--backBase);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
input:focus {
  color: var(--textBase);
  font-family: "Hanken Grotesk";
}
